/*******************************************

          References Style ALL PAGE		

*******************************************/
.fist_section_references {
	background-image: url('../img/backgorund/forth_page_f_bg-01.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 90px 15px;
}
.fist_section_references h2 {
	font-family: 'Montserrat-Bold';
	text-align: center;	
	padding-bottom: 30px;
}
.references_small_panel {
	background-color: white;
	margin: 15px 0px;
}

.references_small_panel img {
	width: 100%;
}

.references_small_panel h4 {
	padding: 0px 10px;
	font-family: 'Montserrat-Bold';
	font-size: 16px;
}

.references_small_panel hr { 
  border: 0; 
  border-style: solid; 
  border-color: #D7A74B; 
  border-width: 2px 0 0 0; 
  width: 30%;
  height: 10px;
  margin: 0px 10px;
} 

.references_small_panel p {
	padding: 0px 10px;
	font-size: 14px;
}

.references_small_panel button {
	background-color: #D7A74B;
	color: white;
	font-family: 'Montserrat-Bold';
	font-size: 11px;
	margin: 15px  10px 10px;
	border: none;
	height: 25px;
	width: 100px;
}