





/*
///////////////////////////////////////////////////
Responsive Part  ALL PAGES
///////////////////////////////////////////////////
*/

/*Scrolling Navigationbar*/

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none !important;
    }
    .navbar-header img {
    	width: 100px;
    	float: right;
    	margin-right: 15px;
    }
    .navbar-header button {
    	float: left;
    	border: none;
    	background-color: transparent;
    	margin: 15px 0px 0px 15px
    }
    .top-nav-collapse .brand_logo {
    	padding: 0px !important;
    }
    .top-nav-collapse img {
    	padding: 0px;
    }
    .navbar-header button:hover {
    	background-color: transparent !important;
    }
    .navbar-header button:active {
    	background-color: transparent !important;
    }
    .navbar-header button:focus {
    	background-color: transparent !important;
    }
	.navbar-nav li {
	    padding-top: 0px !important;
	    transition: ease-in-out all 0.3s;
	    text-align: center;
	}






/*
///////////////////////////////////////////////////
HomePage
///////////////////////////////////////////////////
*/

.header_mobile_home {
	background-image: url('../img/slider/slide1-01.png');
	height: 100vh;
	background-size: cover;
	background-position: 80% 40%;
	color: white;
	padding: 100px 10px;
}
.header_mobile_home h1 {
	font-size: 50px;
	font-family: 'Montserrat-Bold';
}
.header_mobile_home p {
	font-size: 20px;
}
.header_mobile_home button {
	background-color: #C93851;
    border: none;
    color: white;
    width: 140px;
    height: 40px;
    margin-top: 20px;
}
.home_first_section {
	padding: 20px 10px;
}
.owl_slider_facts {
	padding: 20px 10px;
}
.selection_section_home {
	padding: 20px 10px;
}
.lastest_news_section_home {
	padding: 20px 10px;
}
.date_number {
    background-color: #C93851;
    color: white;
    width: 60px;
    text-align: center;
    height: 90px;
    padding-top: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 360px;
}
.lastest_news_section_home h3 {
	padding: 0px 10px;
}
.lastest_news_section_home p {
	padding: 0px 10px;
}

.news_panel_home_p {
	padding: 30px 10px;
}

/*CONTACT FOOTER*/

.contact_section_footer {
	padding: 30px 10px;
}

.copyright_s {
	display: none;
}
.social_s {
	text-align: center !important;
	padding-bottom: 10px;
}




/*
///////////////////////////////////////////////////
OPERATION AND MAINTENANCE
///////////////////////////////////////////////////
*/
.header_mobile_opeartion {
	background-image: url('../img/slider/slide2-01.png');
	height: 100vh;
	background-size: cover;
	background-position: 80% 40%;
	color: white;
	padding: 100px 10px;
}
.header_mobile_opeartion h1 {
	font-size: 50px;
	font-family: 'Montserrat-Bold';
}
.header_mobile_opeartion p {
	font-size: 20px;
}
.header_mobile_opeartion button {
	background-color: #C93851;
    border: none;
    color: white;
    width: 140px;
    height: 40px;
    margin-top: 20px;
}

.small_marign_h {
	margin: 0px;
}

.first_section_ndpage img {
	width: 60%;
}


/*
///////////////////////////////////////////////////
Construction
///////////////////////////////////////////////////
*/



.header_mobile_construction {
	background-image: url('../img/slider/slide5-01.png');
	height: 100vh;
	background-size: cover;
	background-position: 80% 40%;
	color: white;
	padding: 100px 10px;
}
.header_mobile_construction h1 {
	font-size: 50px;
	font-family: 'Montserrat-Bold';
}
.header_mobile_construction p {
	font-size: 20px;
}
.header_mobile_construction button {
	background-color: #C93851;
    border: none;
    color: white;
    width: 140px;
    height: 40px;
    margin-top: 20px;
}

.first_section_thirdp img {
	width: 60%;
}




/*
///////////////////////////////////////////////////
					QHSE
///////////////////////////////////////////////////
*/


.header_mobile_qhse {
	background-image: url('../img/slider/slide4-01.png');
	height: 100vh;
	background-size: cover;
	background-position: 80% 40%;
	color: white;
	padding: 100px 10px;
}
.header_mobile_qhse h1 {
	font-size: 50px;
	font-family: 'Montserrat-Bold';
}
.header_mobile_qhse p {
	font-size: 20px;
}
.header_mobile_qhse button {
	background-color: #C93851;
    border: none;
    color: white;
    width: 140px;
    height: 40px;
}
.first_section_forthp {
	padding: 20px 10px;
} 
.second_section_forth {
	padding: 20px 10px;
}

























}